body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.mypantry{
  font-family: cursive;
}
.intro{
  color: #40c4ff;
  text-align: center;
}

.bottom-links{
  display: inline-block;
  padding: 15px;
}
