<!DOCTYPE html>
<html ng-app="myPantryApp">
  <head>
    <meta charset="utf-8">
    <title>New Pantry Design</title>
    <link rel="stylesheet" href="main.css">
    <title>New Pantry Design</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $(".button-collapse").sideNav({
          closeOnClick: true
        });
      });
    </script>
  </head>
  <body>
    <header ng-controller='navCtrl as nCtrl'>
      <nav class="light-blue accent-4">
        <div class="nav-wrapper">
<!-- normal navbar at the top only for larger than medium sized screens -->
          <a ui-sref="home" class="mypantry brand-logo ">MyPantry</a>
          <a href="#" data-activates="side-menu" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li ng-if='nCtrl.user.userId'><a ui-sref="myPantry">My Pantry</a></li>
            <li><a ui-sref="searchRecipes">Search Recipes</a></li>
            <li ng-if='nCtrl.user.userId'><a ui-sref="myGroceryList">My Grocery List</a></li>
            <li ng-if='nCtrl.user.userId'><a ui-sref="myCookBook">My Cookbook</a></li>
            <li ng-if='nCtrl.user.userId'><a href="/logout">Log Out</a></li>
          </ul>
<!-- hamburger menu for med sized screens or smaller -->
          <ul class="side-nav light-blue accent-4" id="side-menu">
            <li ng-if='nCtrl.user.userId'><a ui-sref="myPantry" class='white-text'>My Pantry</a></li>
            <li><a ui-sref="searchRecipes" class='white-text'>Search Recipes</a></li>
            <li ng-if='nCtrl.user.userId'><a ui-sref="myGroceryList" class='white-text'>My Grocery List</a></li>
            <li ng-if='nCtrl.user.userId'><a ui-sref="myCookBook" class='white-text'>My Cookbook</a></li>
            <li><a ui-sref="#" class='white-text'>About</a></li>
            <li><a ui-sref="#" class='white-text'>Contact</a></li>
            <li><a ui-sref="#" class='white-text'>FAQs</a></li>
            <li><a ui-sref="#" class='white-text'>Terms</a></li>
            <li ng-if='nCtrl.user.userId'><a href="/logout" class='white-text'>Log Out</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>

      <ui-view>
        <!--This area is replaced with each partial page!!  -->
      </ui-view>

    </main>

    <footer class="light-blue accent-4">
        <div class="footer-copyright">
          <div class="container">
            <ul>
              <li class='bottom-links hide-on-med-and-down'><a class="grey-text text-lighten-3" ui-sref="about">About</a></li>
              <li class='bottom-links hide-on-med-and-down'><a class="grey-text text-lighten-3" ui-sref="contact">Contact</a></li>
              <li class='bottom-links hide-on-med-and-down'><a class="grey-text text-lighten-3" ui-sref="faqs">FAQs</a></li>
              <li class='bottom-links hide-on-med-and-down'><a class="grey-text text-lighten-3" ui-sref="terms">Terms</a></li>
              <li class="bottom-links right white-text"> © 2016 Copyright Brian Dumoulin</li>
            </ul>
          </div>
        </div>
      </footer>
    <!--Bower Components for UI Router-->
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!--UI Router & All Controllers-->
    <script rel='javascript' src='app.js'></script>
    <script rel='javascript' src='homeController.js'></script>
    <script rel='javascript' src='mainController.js'></script>
    <script rel='javascript' src='myCookBookController.js'></script>
    <script rel='javascript' src='myGroceryListController.js'></script>
    <script rel='javascript' src='myPantryController.js'></script>
    <script rel='javascript' src='searchRecipesController.js'></script>
    <script rel='javascript' src='navController.js'></script>
    <script rel='javascript' src='userFactory.js'></script>

  </body>
</html>
