/*home page styles*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.mypantry{
  font-family: cursive;
}
.intro{
  color: #40c4ff;
  text-align: center;
}

.bottom-links{
  display: inline-block;
  padding: 15px;
}

.headings{
  color: #40c4ff;
  font-family: cursive;
}

.list{
  font-size: 30px;
  font-family: Optima, Monotype;
  color: black;
}

.seperator{
    border-bottom: 1px solid #2a4c59;
    padding-bottom: 10px;
}
