<script type="text/javascript">
  $('#textarea1').val('');
  $('#textarea1').trigger('autoresize');
</script>

<div class='container center-align'>
    <div class='row'>
      <h1 class='headings'>{{cCtrl.title}}</h1><hr><br><br>
    </div>

    <div class='row'>
        <input type="text" id='input1' class="input-field col s6" placeholder="Enter Recipe Name" ng-model="cCtrl.newName"><a class="btn-floating btn-large waves-effect waves-light light-blue accent-2" ng-click="cCtrl.addRecipe()"><i class="material-icons">add</i></a>
        <!-- <button class="btn light-blue accent-2" type="button" ng-click="cCtrl.addRecipe()">Add Recipe</button> -->
    </div>

    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea" ng-model='cCtrl.newDirections'></textarea>
            <label for="textarea1">Enter Recipe</label>
          </div>
        </div>
      </form>
    </div>

    <div class='row'>
        <ul class='list'>
            <li class='seperator'ng-repeat="recipe in cCtrl.enterRecipe"><h3 class='headings'>{{ recipe.name }} <a class="btn-flat" ng-click='cCtrl.removeRecipe($index)'><i class="material-icons">delete</i></a></h3> {{recipe.directions}}</li>
        </ul>
    </div>
  </div>
</div>
