<div class="container center-align">
  <div class="row">
    <h1 class="headings">{{pCtrl.user.username}}'s Pantry</h1><hr><br><br>
  </div>

  <div class='row'>
      <input type="text" class="input-field col s6" placeholder="Enter Pantry Ingredient" ng-model="pCtrl.newIngredient"><a class="btn-floating btn-large waves-effect waves-light light-blue accent-4" ng-click="pCtrl.addIngredient()"><i class="material-icons">add</i></a>

      <!-- <button class="btn btn-default searchButton" type="button" ng-click="pCtrl.addIngredient()">Add Protein</button> -->
        <ul>
          <li ng-repeat='ingredient in pCtrl.user.pantryIngredients' class='list left-align'>{{ ingredient }}<a class="btn-flat" ng-click='pCtrl.removeIngredient($index)'><i class="material-icons">delete</i></a>
            <!-- <button type='button' class='btn btn-danger btn-xs clearButton' ng-click='pCtrl.removeIngredient($index)'>Delete</button></li> -->
        </ul>
    </div>

    <div class="row left-align">
      <button type='' class='btn btn light-blue accent-4' ng-click='pCtrl.saveIngredients()'>Save Changes</button>
    </div>
  </div>
</div>
